<div layout="start top">
    <md-card flex>
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Delete entities</span>
                <span class="md-subhead">It will delete the entities inside the kind.</span>
            </md-card-header-text>
        </md-card-header>
        <div class="app-margin-16px" style="padding-top: 0px !important" layout="column">
            <div layout="row">
                <md-input-container flex="50">
                    <label>Namespaces</label>
                    <md-select ng-model="home.selectedNamespaces" aria-label="Namespaces" multiple="true" md-on-close="home.refreshKinds()">
                        <div layout="row">
                            <md-button ng-click="home.selectAllNamespaces()" ng-if="!home.isAllNamespaceSelected()" flex>Select all</md-button>
                            <md-button ng-click="home.cleanAllNamespaces()" ng-if="home.isAllNamespaceSelected()" flex>Clean all</md-button>
                        </div>
                        <md-option ng-value="option" ng-repeat="option in home.namespaceList">{{ option.namespace }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div ng-if="home.kinds | isNotEmpty">
                <md-list flex>
                    <md-list-item class="disable-md-clickable header-table">
                        <div flex=50> Kind </div>
                        <div flex> Namespace </div>
                        <md-checkbox class="md-secondary" ng-model="home.isSelectedtAllKinds" ng-change="home.selectAllKinds()" arial-label="home.isSelectedtAllKindsAriaLabel"></md-checkbox>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-repeat="kind in home.kinds" ng-class-odd="'line_gray'" ng-class-even="'line_white'">
                        <div flex=50> {{ kind.name }} </div>
                        <div> {{ _.capitalize(kind.namespace) }} </div>
                        <md-checkbox class="md-secondary" ng-model="kind.selected" aria-label="kind.name" ng-change="home.isAllKindSelected()"></md-checkbox>
                    </md-list-item>
                </md-list>
            </div>
            <div ng-if="home.hasSomeKindSelected()">
                <md-divider></md-divider>
                <div layout="row" style="padding-top: 8px;">
                    <md-button aria-label="button-label" class="md-raised md-accent"> Run </md-button>
                    <md-button aria-label="button-label" class="md-raised md-accent"> Reset </md-button>
                </div>
            </div>
        </div>
    </md-card>
</div>